{% for weather in weather_data %}
    <div class="accordion" id="accordion-{{ response_id }}">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">
                    <button class="btn btn-primary" title="{{ weather.city_full_name }}" data-bs-toggle="collapse" data-bs-target="#weather-{{ response_id }}" aria-expanded="true" aria-controls="weather-{{ response_id }}">
                        {{ weather.city }}: {{ weather.startDate|date('Y-m-d') }} to {{ weather.endDate|date('Y-m-d') }} - Temperature: Avg: <strong>{{ weather.temp_avg_total }}°C</strong>, Max: <strong>{{ weather.temp_max_total }}°C</strong>, Min: <strong>{{ weather.temp_min_total }}°C</strong>, Total precipitation: <strong>{{ weather.precipitation_total }} mm</strong>
                    </button>
                    <button class="btn btn-danger delete-weather-btn" data-response-id="{{ response_id }}" type="button">Delete</button>
                </h5>
            </div>
            <div id="weather-{{ response_id }}" class="collapse" aria-labelledby="heading-{{ response_id }}" data-bs-parent="#accordion-{{ response_id }}">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Average Temp(°C)</th>
                            <th>Min Temp(°C)</th>
                            <th>Max Temp(°C)</th>
                            <th>Precipitation (mm)</th>
                            <th>Max Wind Speed (km/h)</th>
                            <th>Max Wind Gusts (km/h)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for daily_data in weather.daily_data %}
                            <tr>
                                <td>{{ daily_data.date|date('Y-m-d') }}</td>
                                <td>{{ daily_data.temperature_avg }}</td>
                                <td>{{ daily_data.temperature_min }}</td>
                                <td>{{ daily_data.temperature_max }}</td>
                                <td>{{ daily_data.precipitation }}</td>
                                <td>{{ daily_data.wind_speed_max }}</td>
                                <td>{{ daily_data.wind_gusts_max }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
