{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
        {{ parent() }}
{#        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
    {% endblock %}
    {% block title %}Smooth Weather History{% endblock %}
{% endblock %}

{% block body %}


    <h1 style="display: flex; justify-content: center;">Smooth Weather History</h1>

    {{ form_start(form, {'attr': {'id': 'input-form', 'style': 'display: flex; flex-direction: column; align-items: center;'}}) }}

    {{ form_widget(form.startDate, {'attr': {'placeholder': 'start Date 1941 - 6 days ago'}}) }}
    <br>

    {{ form_widget(form.endDate, {'attr': {'placeholder': 'end Date 1941 - 6 days ago'}}) }}
    <br>

    {{ form_widget(form.city, {'id': 'city', 'attr': {'placeholder': 'pick one of the suggestions', 'title': 'Select one of the suggested cities.'}}) }}
    <br>

    <div style="display: none;">
        {{ form_widget(form.latitude, {'id': 'latitude', 'attr': {'required': 'required'}}) }}
        {{ form_widget(form.longitude, {'id': 'longitude', 'attr': {'required': 'required'}}) }}
    </div>
    <button type="submit" class="btn btn-primary" title="Select one of the suggested cities.">Submit</button>

    {{ form_end(form) }}

    <div id="accordion">
        {% for response_id in response_ids %}
            {% set weather_data_instance = weather_data[loop.index0] %}
            {% include 'weather_data.html.twig' with {'weather_data': weather_data_instance, 'index': loop.index, 'response_id': response_id} %}
        {% endfor %}
    </div>
    <div id="new_data_response" style="visibility: hidden">
        {% if new_weather_data is defined and new_response_id is defined%}
            {% set new_weather_data_instance = new_weather_data[0] %}
            {% include 'weather_data.html.twig' with {'weather_data': new_weather_data_instance, 'index': 0, 'response_id': new_response_id} %}
        {% endif %}
    </div>
{% endblock %}